#tableLogin{
    width: 500px;
    /* height: 700px; */
    margin: auto;
    border:1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: -10px -10px 5px -5px gray;
}

#header{

    display: flex;
    justify-content: space-between;
    
}
#header h2{
    
    font-weight: bold;
    padding:20px 40px;
    float: left;
}
#header h2 a{
    text-decoration: none;
    color: black;
    opacity: 0.3;
}
/*  */
#content{

}
/*  */
#button-Login{
    margin:auto 25px;
}
.btn {

    margin: 30px 20px;
    padding: 15px 20px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    transition: opacity 0.2s linear;
}
.btn a{
    color: rgb(255, 255, 255);
    font-weight:bold;
    font-size: 25px;
    text-decoration: none;
}

.btn:hover{
    opacity: 0.8;
}

.btn--TW{
    background-color: #538ac5;
}

.btn--FB{
    background-color: #5db1d3;
}

/*  */
#text{
    display: flex;
    flex-direction: column;

}
.text__btn{
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px 40px; ;
    border: 1px solid #b0b0b0;
    font-size: 20px;
    font-weight: bold;
}
#deobiet{
    display: flex;
    margin: 2px 45px;
    font-size: 17px;
}
#deobiet div{
    margin-right: 10px;
}

#deobiet a{
    text-decoration: none;
    color:#1292c5 
    transition: opacity 0.2s linear;;
}
#deobiet a:hover{
    opacity: 0.8;
}
/*  */
#footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    background-color: #f0f0f0;
}
#question{
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
    
}
#question li{
    margin: 0px 10px;
    transition: opacity 0.2s linear;
}

#question a{
    text-decoration: none;
    font-weight: bold;
    color: #8a8a8a;
    font-size: 20px;
}
#question li:hover{
    opacity: 0.8;
}
#btn-login{
    margin-right: 40px;
    width: 90px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    background-color: #ca5b54;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.2s linear;
}
#btn-login:hover{
    opacity: 0.8;
}